// Custom.scss
// Opção A: Importa todo o Bootstrap

$first-color: #3E5A86;
$second-color: #A1CCE9;
$third-color: #8D9FB5;
$fours-color: #E3EAF4;
$black-color: #1B1918;
//$myborder: #fff $second-color $second-color $second-color;


$primary: $fours-color;
$secondary: $third-color;
$dark: $first-color;
$nav-tabs-link-active-bg: $fours-color;
//$nav-tabs-link-active-border-color: $myborder;
//$nav-tabs-border-width: .5rem; 



$enable-gradients:true;



@import "../lib/bootstrap-4.1.3/scss/bootstrap";


